<div class="list-of-org-items" *ngIf="orgUnitsObject">
  <ul class="list-group">
    <li class="list-group-item" id="{{orgUnitsObject['arrayed_org_units'][0][0].id}}">{{orgUnitsObject['arrayed_org_units'][0][0].name}}</li>
    <li class="list-group-item" style="cursor: pointer;" *ngFor="let item of pagedItems" id="{{ item.id }}">
      {{ item.name }}
    </li>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </ul>
</div>
