.list-of-org-items {
  width: 80%;
}
.pagination {
  margin-top: 15px;
}
.pagination a {
  padding: 5px;
  background-color: #7BAFDE;
  margin-left: 5px;
  border-radius: 4px;
}

.list-group-item {
  z-index: 500;
}
.settings-options {
  position: absolute;
  width: 150px;
  right: 60px;
  height: auto;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  z-index: 600;
}

.list-group-items {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
}

.list-group-items div {
  padding: 0.35rem 0 0.35rem 5px;
  position: relative;
  display: block;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.active-settings-options {
  display: block;
}

.inactive-settings-options {
  display: none !important;
}

span {
  position: relative;
}

.org-name {
  cursor: pointer;
}

/* For settings dots*/
div.menu-settings{
  /*position:absolute;*/
  width:100%;
  float: right;
  height:3em;
  margin:0;
  padding:0 10px;
  background: #FFF;
  border: solid 1px #ffffff;
  box-shadow:0 -1px rgba(240,240,240,.5) inset;
}

div.menu-settings > li{
  float:left;
  list-style-type:none;
  position:relative;
}

label{
  position:relative;
  display:block;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
}

label:after{
  content:"";
  position:absolute;
  display:block;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid rgba(255,255,255,.5);
  border-bottom:0 solid rgba(255,255,255,.5);
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
}

input:checked ~ label{background:#2C6695;}

input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  margin-top: -25px;
  z-index: 600;
  overflow:hidden;
  list-style-type:none;
  background:#FFF;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
}

ul.submenu li a{
  display:block;
  padding:6px;
  color:#222;
  text-decoration:none;
  box-shadow:0 -1px rgba(240,240,240,.5) inset;
  transition:background .3s;
  white-space:nowrap;
}

.col-11 {
  flex: 0 0 96;
  max-width: 96%;
  border: none;
}

.col-1 {
  flex: 0 0 4%;
  max-width: 4%;
  border: none;
}


