<div class="organisation-group-sets">
  <div class="row slider">
    <div class="col-md-12 header-distribution">
      <h4>Distribution of health facilities</h4>
    </div>
    <div class="col-md-12">
      <app-slider [totalNumberOfLevelFour]="levelFourOrgUnits" [orgUnitGroups]="organisationUnitGroupSets"></app-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-12 group-sets">
      <h5>Health facilities group sets and their % distribution by groups</h5>
    </div>
    <div class="col-md-6">
      <div class="list-groups">
        <div class="list-group-items" id="{{orgUnitGroup.id}}" *ngFor="let orgUnitGroup of organisationUnitGroupSets" (click)="setSelectedGroup(orgUnitGroup.id)"><div [ngClass]="orgUnitGroup.id == selectedGroupId ? 'active': 'item'">{{orgUnitGroup.name}}</div></div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngFor="let orgUnitGroup of organisationUnitGroupSets">
        <div class="table" *ngIf="orgUnitGroup.id == selectedGroupId">
          <app-table [orgUnitGroup]="orgUnitGroup" [totalNumberOfLevelFour]="levelFourOrgUnits.pager.total"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
