<div class="dashboard-container container-fluid" *ngIf="organisationGroupSets && levelFourOrgUnits">
  <div class="row">
    <div class="col-2">
      <div class="org-unit-filter">
        <app-filter-section [selectOrgUnitId]="selectedOrgUnitId" (organisationsDefinition)="getSelectedOrgUnitDefinition($event)"></app-filter-section>
      </div>
    </div>
    <div class="col-10" *ngIf="selectedOrgUnitDefinition.typeOfAction == 'update'">
      <div class="notifications" style="float: right">
        <app-notifications [currentUserInfo]="currentUser$ | async"></app-notifications>
      </div>
      <div style="float: right">
        <app-general-stats [organisationUnitGroupSets]="organisationGroupSets" [levelFourOrgUnits]="levelFourOrgUnits" [selectedOrganisationUnit]="selectedOrgUnitId"></app-general-stats>
      </div>
    </div>
    <div class="col-10" *ngIf="selectedOrgUnitDefinition.typeOfAction == 'manage'">
      <app-list-items [orgUnitsObject]="selectedOrgUnitDefinition"></app-list-items>
    </div>
  </div>
</div>
